@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --blue: #002c9c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    display: inline-block;
    text-decoration: none;
}

p {
    line-height: 1.8;
}

h3 {
    margin-bottom: 10px;
    color: var(--blue);
}

.margin-30 {
    margin-bottom: 50px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

.container {
    width: 1024px;
    margin: 0 auto;
    padding: 50px 0;
}

.name-section {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.name-section .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--blue);
}

.name-section h2 {
    font-size: 36px;
}

.name-section .edu {
    color: var(--blue);
}

/* profile section */
.profile__conatiner {
    display: flex;
    gap: 100px;
    margin-top: 30px;
}

.profile__conatiner .left__box {
    flex-basis: 65%;
}

.profile__conatiner .right__box {
    flex-basis: 35%;
}




.profile p {
    text-align: justify;
    margin-left: 20px;
    margin-top: 5px;
}

.profile p:last-child {
    margin-bottom: 0px;
}


/* education */
.item {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.item .dot {
    position: relative;
}

.item .dot .circle {
    width: 12px;
    height: 12px;
    background: #4e4e4e;
    border-radius: 50%;
    margin-top: 5px;
    outline: 5px solid #fff;
}

.item .dot .bar{
    width: 1px;
    height: 100%;
    background: #4e4e4e;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.item .text .year{
    color: var(--blue);
}

/* details */
.details .info{
    margin-bottom: 10px;
}

.details .info .main{
    color: var(--blue);
    font-weight: 600;
}

.details .info .text{
    margin-left: 70px;
}

/* skill */

.skill .progress{
    width: 100%;
    height: 5px;
    background: #a8a8a8;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;
}

.skill .progress .fill{
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
}

/* courses */
.courses .course{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.courses .course .dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #616161;
    margin-top: 8px;
}

.interests .interest{
    background: var(--blue);
    color: #fff;
    padding: 7px 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.social .links{
    display: flex;
    gap: 10px;
}

.social a{
    width: 30px;
    height: 30px;
    background: var(--blue);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}